<html>
<head>
    <title>
        <%= title %>
    </title>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body class="font-mono  margin:0px" style="background-color: black"">
<center><h1 class="text-3xl py-4 text-white"><i class="fas fa-id-card"></i>Contacts List!!!!</h1></center>

<div id="page-heading">
    <ul>
        <% for (let i of contact_list) { %>
            <li>
                <div class="text-center mx-72 lg:w-7/12 bg-white p-2 rounded-lg lg:rounded-lg mb-2">
                    <p style="padding: 5px; background-color: white" class="text-l">
                        <%= i.name%> <%=i.phone%>
                    </p>
                    <div>
                        <a href="/contact/delete-contact/?id=<%=i._id %>">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </div>
                </div>

            </li>
        <%}%>
    </ul>

</div>


<div class="container ml-52">
    <div class="flex justify-center px-6 my-12">
        <!-- Row -->
        <div class="w-full xl:w-3/4 lg:w-11/12 flex">
            <div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-lg">
                <h3 class="pt-4 text-3xl text-center"><u>Add Contact</u></h3>
                <form class="px-8 pt-6 pb-8 mb-4 bg-white rounded" action="/contact/create-contact" method="POST">
                    <div class="mb-4 md:flex  md:justify-center">
                        <div class="mb-4 md:mr-2 md:mb-0 ">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="firstName">
                                First Name
                            </label>
                            <input
                                    class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline md:flex md:justify-between"
                                    id="Enter the Name"
                                    type="text"
                                    name="name"
                                    placeholder="First Name"
                            />
                        </div>
                    </div>

                    <div class="mb-4 md:flex md:justify-center">
                        <div class="mb-4 md:mr-2 md:mb-0 ">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
                                Phone Number
                            </label>
                            <input
                                    class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border border-red-500 rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                    type="number"
                                    name="phone"
                                    placeholder="Enter the Phone Number"
                            />
                            <p class="text-xs italic text-red-500">Please enter the Phone Number</p>
                        </div>
                    </div>


                    <div class="mb-6 text-center">
                        <button
                                class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                                type="submit">
                            Add Now
                        </button>
                    </div>
                    <hr class="mb-6 border-t" />
                    <div class="text-center ">
                        <a href="/" class="inline-block text-sm mt-12 px-4 py-2 leading-none border-4 rounded text-black border-black hover:border-transparent hover:text-white hover:bg-black mt-4 lg:mt-0">Home...</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/home.js "/>
</body>

</html>